@inject NavigationManager Navigation
@* @inject AuthService AuthService *@


<h3>Auth</h3>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // var isAuthenticated = await AuthService.IsAuthenticatedAsync();

            // if (!isAuthenticated)
            // {
            //     Navigation.NavigateTo("/login");
            //     return;
            // }

            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
