<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link active" href="" Match="NavLinkMatch.All">
                <p style="color: white;">Home</p>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link active" href="clientes">
                <p style="color: white;">Clientes</p>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link active" href="empleados">
                <p style="color: white;">Empleados</p>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link active" href="ingredientes">
                <p style="color: white;">Ingredientes</p>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link active" href="pedidos">
                <p style="color: white;">Pedidos</p>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link active" href="productos">
                <p style="color: white;">Productos</p>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link active" href="proveedores">
                <p style="color: white;">Proveedores</p>
            </NavLink>
        </div>
    </nav>
</div>
