<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" >
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link active" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link active" href="clientes">
                Clientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link active" href="empleados">
                Empleados
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link active" href="ingredientes">
                Ingredientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link active" href="pedidos">
                Pedidos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link active" href="productos">
                Productos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link active" href="proveedores">
                Proveedores
            </NavLink>
        </div>

    </nav>
</div>

