@page "/dashboard/admin/clientes"
@layout AdminDashboardLayout
@using API
@using DTOs



<h1>SectionClientes</h1>
<div class="section-conteiner">

    @* Agregar Cliente *@
    <div class="btn"> Agregar cliente </div>

    @* Mostrar Clientes *@
    <h1>Lista de Clientes</h1>
    <div class="container">

        @if (loadingClients)
        {
            <div> Cargando clientes . . . </div>
        }
        else
        {
            @if(clientes.Count > 0)
            {
                @foreach(ClienteDTO cliente in clientes)
                {
                    <div> @cliente.Nombre </div>
                }
            }
            else
            {
                <div> No hay clientes registrados </div>
            }
            
        }

    </div>

    @* Opc Editar Cliente *@

    @* Eliminar Cliente *@

</div>




@code {
    private List<ClienteDTO>? clientes = [];
    private bool loadingClients = true;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            loadingClients = true;
            await LoadClientes();
        }
        catch
        {

        }
        finally
        {
            loadingClients = false;
        }
    }

    private async Task LoadClientes()
    {
        await Task.Delay(500);
        //clientes = await ClienteApiClient.GetAllAsync())?.ToList();
        clientes = (await ClienteApi.GetAllAsync())?.ToList();
    }
}
