@page "/clientes"
@layout AdminDashboardLayout
<h1>SectionClientes</h1>
<div class="section-conteiner">

    @* Agregar Cliente *@
    <div class="btn"> Agregar cliente </div>

    @* Mostrar Clientes *@
    <h1>Lista de Clientes</h1>

    @* Opc Editar Cliente *@

    @* Eliminar Cliente *@

</div>




@code {

}
