@page "/dashboard/admin/clientes"
@layout AdminDashboardLayout
@using Application.Services
@using DTOs



<h1>SectionClientes</h1>
<div class="section-conteiner">

    @* Agregar Cliente *@
    <div class="btn"> Agregar cliente </div>

    @* Mostrar Clientes *@
    <h1>Lista de Clientes</h1>
    <div class="container">

    </div>

    @* Opc Editar Cliente *@

    @* Eliminar Cliente *@

</div>




@code {
    private List<ClienteDTO>? clientes;
    private ClienteService ClienteService;

    private async Task LoadClientes()
    {
        await Task.Delay(500);
        
    }
}
