@inherits LayoutComponentBase
@* @inject IAuthService AuthService *@
@inject NavigationManager Navigation

<link href="/AdminDashboard.css" rel="stylesheet" />

@if (isLoading)
{
    <div class="loading">Cargando...</div>
}
else
{
    <div class="admin-dashboard">
        <aside class="sidebar">
            <div class="sidebar-header">
                <h2>🍽️ Panel Admin</h2>
                <p class="admin-name">@username</p>
            </div>
            <DashboardNavMenu />
        </aside>

        <main class="main-content">
            @Body
        </main>
    </div>
}

@code {
    private bool isAuthenticated;
    private bool isLoading = true;
    private string username = "jaime";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            isLoading = true;
            // isAuthenticated = await AuthService.IsAuthenticatedAsync();
            // string userRole = await AuthService.GetUserLoggedAsync();

            // if (!isAuthenticated || userRole!="admin")
            // {
            //     // Redirige si no está autenticado
            //     Navigation.NavigateTo("/login");
            //     return;
            // }

            //username = user.name;

        }
        catch
        {
            // Manejo de errores: redirigir o mostrar mensaje
            Navigation.NavigateTo("/login");
            return;
        }
        finally
        {
            isLoading = false;
        }
    }
}
