@page "/"
@inject NavigationManager navigation

<link href="/LandingPage.css" rel="stylesheet" />

<div class="landing-page">
    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-overlay"></div>
        <div class="container hero-content">
            <h1 class="hero-title">Bienvenido a Restaurante Entity Flavor</h1>
            <p class="hero-subtitle">La mejor experiencia gastronómica al alcance de un request</p>
            <div class="hero-buttons">
                <button class="btn-primary" @onclick="NavigateToLogin">Iniciar Sesión</button>
                <button class="btn-secondary" @onclick="NavigateToRegister">Registrarse</button>
            </div>
        </div>
    </section>

    
</div>

@code {


    private void NavigateToLogin()
    {
        navigation.NavigateTo("/login");
    }

    private void NavigateToRegister()
    {
        navigation.NavigateTo("/register");
    }
}
