<link href="/Footer.css" rel="stylesheet" />

<footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <h2 class="footer-title">Entity Flavor</h2>
            <p class="footer-desc">
                Sabores con identidad. Donde cada plato representa una instancia
            </p>
        </div>

        <div class="footer-right">
            
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2025 Entity Flavor — Todos los derechos reservados</p>
    </div>
</footer>
