@using API.Clients
@inject IAuthService AuthService

<link href="/Header.css" rel="stylesheet" />

<div class="header">
    <a href="/" style="text-decoration: none; color: inherit;">
        <div class="header-left">
            <div class="logo-placeholder">LOGO</div>
            <h1 class="restaurant-name">Entity Flavor</h1>
        </div>
    </a>

    <a href="/dashboard/@role" style="text-decoration: none; color: inherit;">
        <div class="header-right">
            <h1> Mi seccion </h1>
        </div>
    </a>
</div>

@code{
    string role = "";

    protected override async Task OnInitializedAsync()
    {
        // role = await AuthService.GetRoleAsync();
    }

}