<link href="/Header.css" rel="stylesheet" />

<div class="header">
    <a href="/" style="text-decoration: none; color: inherit;">
        <div class="header-left">
            <div class="logo-placeholder">LOGO</div>
            <h1 class="restaurant-name">Entity Flavor</h1>
        </div>
    </a>

    <a href="/dashboard/admin" style="text-decoration: none; color: inherit;">
        <div class="header-right">
            <h1> Mi seccion </h1>
        </div>
    </a>
</div>