<link href="/Header.css" rel="stylesheet" />

<div class="header">
    <div class="header-left">
        <div class="logo-placeholder">LOGO</div>
        <h1 class="restaurant-name">Entity Flavor</h1>
    </div>

    <div class="header-right">
        <!-- Espacio reservado para botones o info del usuario -->
    </div>
</div>


@code {

}
